<form action="/profile/create-profile" method="post">
<label for="name">Name</label>
<input type="text" name="name" id="name" placeholder="Name">
<label for="lastName">Last Name</label>
<input type="text" name="lastName" id="lastName" placeholder="Last Name">
<label for="country">Country</label>
<input type="text" name="country" id="country" placeholder="Country">
<label for="address">Address</label>
<input type="text" name="address" id="address" placeholder="Address">
<label for="phoneNumber">Phone</label>
<input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone">
<lable for="postalCode">Postal Code</lable>
<input type="text" name="postalCode" id="postalCode" placeholder="Postal Code">
<label for="city">City</label>
<input type="text" name="city" id="city" placeholder="City">
<label for="bankAccount">Bank Account</label>
<input type="text" name="bankAccount" id="bankAccount" placeholder="Bank Account">
<button type="submit">Create Profile</button>
</form>