<h3>Do you have an account? Sign up here</h3>

<form action="/user/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email">    
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <label for="password2">Confirm password</label>   
    <input type="password" name="password2" placeholder="Confirm password">
    <button type="submit">Sign up</button>

</form>